# Visualisation / generated data
CSV_files/
output/
2d/output/
2d/config_set/
1d/output/
2d/data_track/

# Build directories
build/
obj/


# Executables
2d/test
1d/test
*.exe
*.out

# Compiled objects / libraries
*.o
*.so
*.a
*.dll

# Data files
*.csv
*.png
*.dat

