# Visualisation / generated data
CSV_files/
output/
2d/output/
2d/config_set/
1d/output/

# Build directories
build/
obj/


# Executables
test
*.exe
*.out

# Compiled objects / libraries
*.o
*.so
*.a
*.dll

# Data files
*.csv
*.png
*.dat

